#app, body{
    padding: 0;
    margin: 0;
    border: 0px;
    width: 99.9%;
    font-family: monospace;
    font-size: 14px;
}

h1 {
    padding-left: 12px;
}

#timeline {
    position: relative;
}

#timeline #hour {
    background-color: #fff;
    margin-top: -0.5px;
    border-top: 0.5px solid #aaa;
    text-align: right;
    color: #aaa;
}

#timeline #activities #activity {
    opacity: 0.9;
    background-color: #add8e6;
    border: 1px solid #88aab5;
    margin: -1px;
    position: absolute;
    min-height: 40px;
    overflow: hidden;
    width: 95%;
}

#timeline #activities #activity span {
    display: block;
    padding: 12px 12px 0px 12px;
}

#timeline #time-marker {
    position: absolute;
    border: 1px solid red;
    box-shadow: 0px 4px 10px 4px #aaa;
    width: 100%;
    height: 0;
}

#timeline > #selection {
    z-index: 100;
    position: absolute;
    background-color: #add8e6;
    opacity: 0.6;
    width: 95%;
}

/**************************************************/
/* Commonly used */
/**************************************************/
.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 30px;
    min-width: 30px;
    max-height: 60px;
    max-width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.resize-drag {
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 20px;
    margin: 30px 20px;

    width: 120px;

    /* This makes things *much* easier */
    box-sizing: border-box;
}

.resize-container {
    width: 100%;
    height: 240px;
}